@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

body {
    background-color: #0f0f0f;
    color: #eee;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    user-select: none;
}

